[Unit]
Description= running data producer service


[Service]
Type=simple
Restart=always
ExecStart=/home/ubuntu/App/.venv/bin/python3 /home/ubuntu/App/src/app_producer
WorkingDirectory=/home/ubuntu/App/src
User=ubuntu
StandardOutput=null
RestartSec=1

[Install]
WantedBy=multi-user.target


sudo vim /etc/systemd/system/producer.service
sudo chmod +x /etc/systemd/system/producer.service
sudo systemctl daemon-reload
sudo systemctl enable producer.service
sudo systemctl start producer.service
 
