[Unit]
Description= running general tasks service
#OnFailure=my-app-recovery.service

[Service]
Type=simple
Restart=always
ExecStart=/home/ubuntu/.cargo/bin/uv run python3 /home/ubuntu/App/src/app
WorkingDirectory=/home/ubuntu/App/src
User=ubuntu
StandardOutput=null
RestartSec=5

[Install]
WantedBy=multi-user.target

sudo vim /etc/systemd/system/app.service
sudo chmod +x /etc/systemd/system/app.service
sudo systemctl daemon-reload
sudo systemctl enable app.service
sudo systemctl start general_tasks.service
 
